/*TAGS*/

body {
    margin: 0;
    padding: 0;
    background: #101010;
    color: white;
    font-family: 'Roboto', sans-serif;
    opacity: 1;
    transition: 1s opacity;
    background-image: url("resources/main.png");
}

body.fade {
    opacity: 0;
    transition: none;
}

h1 {
    font-family: 'Fjalla One', sans-serif;
    margin: 0;
    padding: 0;
}

h2 {
    font-family: 'Fjalla One', sans-serif;
    font-size: 32px;
    line-height: 100%;
    margin: 10px 0;
    padding-top: 80px;
}

a {
    text-decoration: none;
    color: white;
}

iframe {
    display: block;
    margin: 0 auto;
    padding-top: 100px;
}

/*CLASSES*/

.navbar {
    position: fixed;
    z-index: 100;
    top: 0;
    width: 100%;
    height: 70px;
    background: rgba(139, 204, 41, 0.8);
}

.welcome {
    padding-top: 25px;
}

.main {
    width: 100%;
    height: 2000px;
}

.container {
    width: 70%;
    height: 100%;
    margin-right: auto;
    margin-left: auto;
    padding-bottom: 50px;
}

.nav-logo {
    float: left;
    margin: 15px 20px 15px 0;
}

.nav-title {
    float: left;
    margin: 15px 0;
}

.nav-link i {
    transition: 0.6s;
}

.nav-list {
    text-align: center;
    margin-top: 20px;
}

.nav-menu {
    padding: 0;
    margin: 0;
    margin-top: -15px;
    font-size: 24px;
    padding-bottom: 50px;
}

.nav-item {
    display: inline;
    list-style: none;
    margin-right: 20px;
}

.nav-link {
    padding: 0;
    margin: 0;
}

.nav-link-name {
    font-size: 0;
}

[class^='socicon'] {
    line-height: 70px !important;
}

[class^='socicon']:hover {
    transition: 0.4s;
}

.socicon-twitch:hover {
    color: #6441a4;
}

.socicon-youtube:hover {
    color: #f00;
}

.socicon-twitter:hover {
    color: #55acee;
}

.socicon-instagram:hover {
    color: #fd5949;
}

.socicon-discord:hover {
    color: #7289da;
}

.socicon-github:hover {
    color: #000000;
}

.socicon-curse:hover {
    color: #f05422;
}

.socicon-mail:hover {
    color: #a0a0a0;
}

.page-nav {
    text-align: center;
}

.page-nav-list {
    padding: 0;
    margin: 0;
    font-size: 16px;
    line-height: 70px;
    height: 70px;
    float: right;
    position: static;
}

.page-nav-item {
    display: inline;
    position: static;
    list-style: none;
    transition: 0.3s;
}

.page-nav-item {
    color: white;
    padding: 15px;
    margin: 0;
}

.page-nav-item:first-child {
    border-radius: 5px 0 0 5px;
}

.page-nav-item:last-child {
    border-radius: 0 5px 5px 0;
}

.page-nav-item:hover {
    background: rgb(139, 204, 41);
    transition: 0.3s;
    cursor: pointer;
}

.page-nav-active:hover {
    cursor: default;
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    background: rgba(139, 204, 41, 0.8);
}

/*SCROLLBAR*/

::-webkit-scrollbar {
    width: 10px !important;
    background: #101010 !important;
}

::-webkit-scrollbar-track {
    border-radius: 10px !important;
    background: #101010 !important;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3) !important;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: rgba(175, 175, 175, .5) !important;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3) !important;
}

/*MEDIA QUERIES*/

@media only screen and (max-width : 950px ) {
    .page-nav-item {
        display: none;
    }
}
